@model RegistruCentras.Domains.RequestForInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ResponseInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.ID" />
            <div class="form-group">
                <label asp-for="@Model.RequestorId" class="control-label"></label>
                <p>@Model.Question</p>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ResponseInfo" class="control-label"></label>
                <input asp-for="@Model.ResponseInfo.Answer" class="form-control" />
                <span asp-validation-for="@Model.ResponseInfo.Answer"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
